<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85611912924-lrutg9sdp63f1ru97quo5ie0a2pb3dnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85611912924-lrutg9sdp63f1ru97quo5ie0a2pb3dnr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85611912924-0drb930h07plmcnv1ij7nmnj90moksj7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX4v-57CWgP_qgpKn7mazlYIvwvgbsYuU</string>
	<key>GCM_SENDER_ID</key>
	<string>85611912924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellbeingverify</string>
	<key>PROJECT_ID</key>
	<string>wellbeing-dev-3a169</string>
	<key>STORAGE_BUCKET</key>
	<string>wellbeing-dev-3a169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85611912924:ios:f6c83fc15da0038bc21e19</string>
</dict>
</plist>